html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  background: url(./images/kiyomizu.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 500px;
  font-style: oblique;
  font-size: 12px;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  background: transparent;
}

.menu {
  float: right;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

/* nav.black ul {
 background: transparent;
} */
nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

nav ul li a:hover {
  color: gray;
}

@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 20em
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
}

.container {
  display: flex;
  padding: 75px;
  height: 50vh;
  justify-content: center;
}

.container-content {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 40px;
  color: gray;
}

.container-content h1 {
  font-size: 22px;
  padding: 42px;
  color: gray;
  font-style: italic;
  font-weight: 300;
}

.container-content p {
  font-size: 10px;
}

.container-picture {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container-picture-content {
  display: flex;
  justify-content: center;
  padding: 50px;
  color: gray;
  font-style: italic;
  font-weight: 300;
}

.dashboard-card-content {
  font-style: italic;
  font-size: 13px;
}

.dashboard-card.main {
  background-position: center;
  background-size: cover;
  background-image: url(./images/biketrip.jpg);
}

.dashboard-card.omae {
  background-position: center;
  background-size: cover;
  background-image: url(./images/socool.jpg);
}

.dashboard-card.morishima {
  background-position: center;
  background-size: cover;
  background-image: url(./image/vietnam.JPG);
}

.dashboard-card.cat {
  background-position: center;
  background-size: cover;
  background-image: url(./images/Baseball.jpg);
}

.card {
  padding: 50px;
  margin-top: 100px;
  height: 30vh;
  width: inherit;
  background-size: cover !important;
  background-image: url(./images/yokohama.jpg);
  background-position: center;
  opacity: 0.9;
  position: relative;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
}

.card-category {
  font-size: 14px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  color: white;
  left: 10px bottom: 10px;
}

.card-description h2 {
  font-size: 24px;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
