html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  background: url(./images/kiyomizu.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 500px;
  font-style: oblique;
  font-size: 12px;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  background: transparent;
}

.menu {
  float: right;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

/* nav.black ul {
 background: transparent;
} */
nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

nav ul li a:hover {
  color: gray;
}

@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 20em
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
}

.container {
  display: flex;
  padding: 75px;
  height: 50vh;
  justify-content: center;
}

.container-content {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 40px;
  color: gray;
}

.container-content h1 {
  font-size: 22px;
  padding: 42px;
  color: gray;
  font-style: italic;
  font-weight: 300;
}

.container-content p {
  font-size: 10px;
}

.container-picture {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100% 100% 100%;
  height: calc(100vh - 110px);
  margin-top: 80px;
}

.dashboard-card {
  display: flex;
  background: white;
  box-shadow: 2px 2px 4px #C0C0C0;
  padding: 10px;
  border-radius: 10px;
  margin: 25px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.dashboard-card-content {
  font-style: italic;
  font-size: 13px;
}

.dashboard-card.main {
  background-position: center;
  background-size: cover;
  background-image: url(./images/biketrip.jpg);
}

.dashboard-card.omae {
  background-position: center;
  background-size: cover;
  background-image: url(./images/socool.jpg);
}

.dashboard-card.cat {
  background-position: center;
  background-size: cover;
  background-image: url(./images/Baseball.jpg);
}
